<div class="single-pane">

    <form name="signup" class="signup-form" novalidate>
        I need a way to <input ng-model="need" type="text" name="need" required> in a way that makes me feel <input ng-model="insight" name="insight" type="text" required> </br>
        </br>
        Describe the problem you want to improve: <input ng-model="problem" name="problem" type="textarea" required> </br>
        </br>
        I am able to attend the workshop at the following times:
        <table>
        <tbody>
            <tr><td><input id="workshop1" type="checkbox" name="workshops" ng-model="workshops[0]"></td><td><label for="workshop1">Date 1</label></td></tr>
            <tr><td><input id="workshop2" type="checkbox" name="workshops" ng-model="workshops[1]"></td><td><label for="workshop2">Date 2</label></td></tr>
            <tr><td><input id="workshop3" type="checkbox" name="workshops" ng-model="workshops[2]"></td><td><label for="workshop3">Date 3</label></td> </tr>
            <tr><td><input id="workshop4" type="checkbox" name="workshops" ng-model="workshops[3]"></td><td><label for="workshop4">Date 4</label></td></tr>
            <tr><td><input id="no_workshop" type="checkbox" name="workshops" ng-model="workshops[4]"></td><td><label for="no_workshop">I can't attend any workshops</label></td></tr>
        </tbody>
        </table>
        </br>

        <button type="submit" ng-click="singleCntrl.submit(need, insight, problem, workshops)">Submit</button>
    </form>
    <div ng-show="signup.$submitted || signup.need.$touched">
        <div ng-show="signup.need.$error.required">Please fill in the first blank</div>
    </div>
    <div ng-show="signup.$submitted || signup.insight.$touched">
        <div ng-show="signup.insight.$error.required">Please fill in the second blank</div>
    </div>
    <div ng-show="signup.$submitted || signup.problem.$touched">
        <div ng-show="signup.problem.$error.required">Please provide a description of your problem</div>
    </div>
    <div ng-show="signup.$submitted || signup.workshops.$touched">
        <div ng-show="!workshops || !(workshops[0] || workshops[1] || workshops[2] || workshops[3] || workshops[4])">Please select one of the workshops</div>
    </div>
</div>