<div class="admin-pane" ng-class="{mobile:mobile}">
    <div class="team-header">
        <div class="logoBox">
            <div class="logo" onclick="location.href='/';" style="cursor:pointer;"></div>
        </div>
        <div class="navBox">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/example"><li>Example</li></a>
                <a href="/team"><li>Team</li></a>
            </ul>
        </div>
        <div class="nextBox">
            <h2>UP NEXT</h2>
            <p>Workshop Session</p>
            <p>Wednesday Feb 18</p>
        </div>
    </div>


    <div class="listAll">
        <input ng-click="adminCntrl.checkAll()" class="listAllCheckbox" type="checkbox" name="listAll"> List all participants </br>
    </div>
    <div class="allParticipants">
        <div ng-repeat="response in responseArray" class="oneParticipant" ng-show="participantDisplayed[$index]">
            <div class="myContent mainContentBox">
                <div class="reviewBox">
                    <h4>Review history:</h4>
                    <div ng-repeat="review in response.reviewHistory">
                        <p ng-show="review.approved"><strong class="green">Approved</strong> by {{review.reviewer}}</p>
                        <p ng-hide="review.approved"><strong class="red">Rejected</strong> by {{review.reviewer}}</p>
                        <div ng-hide="review.approved" class="rejected">&ldquo;{{review.message}}&rdquo;</div>
                    </div>

                </div>

                <div class="challengeBox">
                    <div class="challengeContent">
                        <h3>I want to...</h3>
                        <h1>{{response.want}}</h1>

                    </div>

                </div>
                <div class="becauseBox miniBox">
                    <h3>because...</h3>
                    <p>{{response.because}}</p>

                </div>
                <div class="thenBox miniBox">
                    <h3>and then I'll be...</h3>
                    <p>{{response.then}}</p>

                </div>

                <div class="blurbBox">
                    <div class="quote">“</div>
                    <div class="blurbContent">
                        <p>Some challenges I have in changing this behavior are <span>{{response.blurb[0]}}</span>
                            and <span>{{response.blurb[1]}}</span>.
                            I have tried <span>{{response.blurb[2]}}</span>
                            but <span>{{response.blurb[3]}}</span>.
                            I'm happiest when <span>{{response.blurb[4]}}</span>.
                            I care deeply about <span>{{response.blurb[5]}}</span>
                            and not about <span>{{response.blurb[6]}}</span>.</p>
                    </div>
                </div>
            </div>
            <div class="adminContent mainContentBox">
                <div class="buttonBox" id="buttons{{$index}}">
                    <a ng-class="{green:participantApproved[$index]}"ng-click="adminCntrl.approve(response.uID,$index)" data-toggle="tooltip" data-placement="bottom" style="vertical-align: middle" title="Approve"><i class="fa fa-check fa-4x fa-fw"></i></a>
                    <a ng-class="{red:participantDisapproved[$index]}" ng-click="adminCntrl.flag($index)" data-toggle="tooltip" data-placement="bottom" style="vertical-align: middle" title="Flag"><i class="fa fa-close fa-4x fa-fw"></i></a>
                </div>
                <div class="responseBox" id="response{{$index}}" ng-show="feedbackDisplayed[$index]">
                    <textarea ng-model="feedback[$index]" class="feedback">Send a response to this participant</textarea>
                    <div class="sendButton" ng-click="adminCntrl.send(response.uID, $index)">Send</div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
</div>




