div.exampleText{
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: -36px;
  z-index: 100;

  h2{
    font-weight: 300;
  }

}

div.continueButton{
  width: 80%;
  height: 40px;
  background-color: black;
  line-height: 40px;
  text-align: center;
  color: white;
  
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
  
  h3{
    // padding: 5px;

  }
  a{
    color: white;
    text-decoration: none;
  }

  &:hover{
    
    cursor: pointer;
  }
  &:active{
    
    top: 1px;
  }
}

div.workshopBox{
  &.example{
    pointer-events: none;
  }
}

div.mobile{
  div.continueButton{
  width: 80%;
  height: 150px;
  background-color: black;
  line-height: 150px;
  font-size: 60px;
  text-align: center;
  color: white;
  
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
  
  h3{
    // padding: 5px;

  }
  a{
    color: white;
    text-decoration: none;
  }

  &:hover{
    
    cursor: pointer;
  }
  &:active{
    
    top: 1px;
  }
}
}