<div class="team-pane" ng-class="{mobile:mobile}">
    <div class="team-header">
        <div class="logoBox">
            <div class="logo"></div>
        </div>
        <div class="navBox">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/example"><li>Example</li></a>
                <a href="/team"><li>Team</li></a>
            </ul>
        </div>
        <div class="nextBox">
            <h2>UP NEXT</h2>
            <p>Workshop Session</p>
            <p>Wednesday Feb 18</p>
        </div>
    </div>

    <div class="myContent mainContentBox">
        <div class="exampleText">
            <h2>For Example:</h2>
        </div>
        <div class="challengeBox">
            <div class="profileImage">
                <img src="images/example.jpg"/>
            </div>
            <div class="challengeContent">
                <h3>I want to...</h3>
                <h1>GO TO YOGA MORE OFTEN</h1>
                
            </div>

        </div>
        <div class="becauseBox miniBox">
            <h3>because...</h3>
            <p>it makes me feel amazing, calms me down, and helps me find balance.</p>
            
        </div>
        <div class="thenBox miniBox">
            <h3>and then I'll be...</h3>
            <p>someone who feels like a strong physical machine ready to take on the world!</p>
            
        </div>

        <div class="workshopBox example">
            <h3>I can attend the workshop on:</h3>
            <table>
            <tbody>
                <tr><td><input id="workshop1" type="checkbox" name="workshops" ng-model="workshops[0]"></td><td><label for="workshop1">Date 1</label></td></tr>
                <tr><td><input id="workshop2" type="checkbox" name="workshops" ng-model="workshops[1]"></td><td><label for="workshop2">Date 2</label></td></tr>
                <tr><td><input id="workshop3" type="checkbox" name="workshops" ng-model="workshops[2]"></td><td><label for="workshop3">Date 3</label></td> </tr>
                <tr><td><input id="workshop4" type="checkbox" name="workshops" ng-model="workshops[3]"></td><td><label for="workshop4">Date 4</label></td></tr>
                <tr><td><input id="no_workshop" type="checkbox" name="workshops" ng-model="workshops[4]"></td><td><label for="no_workshop">None</label></td></tr>
            </tbody>
            </table>
        </div>

        <div class="blurbBox">
            <div class="quote">“</div>
            <div class="blurbContent">
                <p>Some challenges I have in changing this behavior are <span>finding the time</span> and <span>feelings too tired after work to go</span>. I have tried <span>creating a google calendar alarm</span> but <span>I just ignore it</span>. I'm happiest when <span>my brain is hard at work</span>. I care deeply about <span>having a fun life filled with travelling</span> and not about <span>being rich</span>.</p>
                
            </div>
        </div>

        <div class="continueButton">
            <a href="/team"><h3>Now Fill Your Own!</h3></a>
        </div>
    </div>
    




    
    
</div>
</div>




