div.exampleText{
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: -36px;
  z-index: 100;

  h2{
    font-weight: 300;
  }

}

div.continueButton{
  width: 80%;
  height: 40px;
  background-color: black;
  line-height: 40px;
  text-align: center;
  color: white;
  
  margin: 0 auto;
  position: absolute;
  top:-80px;
  // margin-bottom: 30px;
  
  h3{
    // padding: 5px;

  }
  a{
    color: white;
    text-decoration: none;
  }

  &:hover{
    
    cursor: pointer;
  }
  &:active{
    
    top: -79px;
  }
}

div.workshopBox{
  &.example{
    pointer-events: none;
  }
}

div.mobile.example-pane{

  div.team-header{
    height: 340px;
  }

  div.exampleText{
    top: -60px;
    h2{
      font-size: 40px;
    }
  }
  div.continueButton{
  //   clear:both;
  // width: 80%;
  height: 80px;
  // background-color: black;
  line-height: 80px;
  font-size: 40px;
  // text-align: center;
  // color: white;
  
  // margin: 0 auto;
  // position: relative;
  // margin-bottom: 30px;
  top: -145px;
  
  a{
    color: white;
    text-decoration: none;
  }

  &:hover{
    
    cursor: pointer;
  }
  &:active{
    
    top: -144px;
  }
}
}