div.example-pane div.team-header{
  div.logoBox{
    opacity: 0;
  }
  div.navBox{
    opacity: 0;
  }
}

div.exampleText{
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: -36px;
  z-index: 100;

  h2{
    font-weight: 300;
  }

}

div.continueButton{
  width: 150px;
  height: 150px;
  background-color: rgba(0,0,0,0.85);
  line-height: 40px;
  text-align: center;
  color: white;
  
  margin: 0 auto;
  position: absolute;
  top:35px;
  left:-130px;
  z-index: 400;

  opacity: 0;
  transition: .2s ease-in-out opacity;
  // margin-bottom: 30px;
  div.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    
    border-left: 45px solid rgba(0,0,0,0.85);
    position: absolute;
    right: -45px;
    bottom: 0;

  }
  
  h3{
    padding: 5px;
    padding-top: 12px;
    font-size: 30px;

  }
  a{
    color: white;
    text-decoration: none;
  }

  &:hover{
    
    cursor: pointer;
  }
  &:active{
    
    // top: -79px;
  }
}

div.workshopBox{
  &.example{
    pointer-events: none;
  }
}

div.mobile.example-pane{

  div.team-header{
    height: 390px;
  }

  div.exampleText{
    top: -60px;
    h2{
      font-size: 40px;
    }
  }
  div.continueButton{
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0.85);
    line-height: 40px;
    text-align: center;
    color: white;
    
    margin: 0 auto;
    position: fixed;
    top:20px;
    left:0px;
    z-index: 400;

    opacity: 0;
    transition: .2s ease-in-out opacity;
    // margin-bottom: 30px;
    div.arrow-right {
      width: 0; 
      height: 0; 
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      
      border-left: 80px solid rgba(0,0,0,0.85);
      position: absolute;
      right: -80px;
      bottom: 0;

    }
    
    h3{
      padding: 5px;
      padding-top: 39px;
      font-size: 60px;
      line-height: 70px;

    }
    a{
      color: white;
      text-decoration: none;
    }

    &:hover{
      
      cursor: pointer;
    }
    &:active{
      
      // top: -79px;
    }
  }
}