  .signup-form input.ng-invalid.ng-touched {
    background-color: #E6C0CC;
  }


  div.wiki-pane{
  	min-width: 900px;
  	max-width: 1250px;
  	margin: 0 auto;
  	font-family: 'Titillium Web', sans-serif;

  	div.editButton{
  		width: 50px;
  		height: 20px;
  		background-color: black;
  		line-height: 20px;
  		text-align: center;
  		color: white;
  		padding: 5px;

  		&.light{
  			background-color: #ccc;
  			color: black;
  		}
  		&.br{
  			position: absolute;
  			bottom:2px;
  			right: 2px;
  		}
  	}

  	div.wiki-header{
  		width: 100%;
  		&:after {
		  content:"";
		  display:table;
		  clear:both;
		}

  		div.logoBox{
  			background-color: black;
  			color: white;
  			width: 20%;
  			height: 200px;
  			float: left;
  			div.logo{
  				height:200px;
  				width:100%;
  				background:url(../images/logo2.png) no-repeat center center;
	  			background-size: contain;

  			}
  			
  			// h1{
  			// 	font-size: 40px;
  			// 	text-align: center;
  			// 	line-height: 200px;
  			// }
  			// img{
  			// 	width: 100%;
  			// }
  		}
  		div.navBox{
  			// width: 33%;
  			height: 200px;
  			float: left;
  			ul{
  				list-style: none;
  				padding-left: 5px;
  				padding-top: 30px;
  				li{
  					font-size: 20px;
  					padding-bottom: 10px;
  					&:hover{
  						cursor: pointer;
  						color: rgb(49,191,219);
  					}
  				}

  			}
  		}
  		div.nextBox{
  			// width:33%;
  			height: 162px;
  			float:right;
  			margin-top: 30px;
  			border-top: 8px solid black;
  			text-align: right;
  			margin-right: 10px;
  			
  		}

  	}
  	
  }

div.wiki-pane.mobile{
	min-width: 600px;
  	// max-width: 900px;
  	div.mainContentBox{
  		// clear:left;
  		// border: 1px solid black;
  		width: 100%;
  		max-width: 100%;
  		margin-left: 0%;
  		margin-top: 10px;

  	}
}